@media only screen and (max-width: 850px) {
  footer .hm-container-fluid .hm-container .hm-row .hm-col-8 {
    width: 100%; }
  footer .hm-container-fluid .hm-container .hm-row .hm-col-4 {
    width: 100%; }

  /*contact*/
  main section#contact {
    margin-top: 50px; }
    main section#contact .title .contact-title h1 {
      font-size: 36px;
      font-weight: 700;
      text-align: center; }
    main section#contact .top-contact {
      margin-top: 20px; }
      main section#contact .top-contact .item + .item {
        margin-top: 20px; }
      main section#contact .top-contact .hm-column-3 .item {
        width: 100%; }
      main section#contact .top-contact .contact {
        text-align: center; }
        main section#contact .top-contact .contact .icon {
          font-size: 48px;
          color: #1369bf; }
        main section#contact .top-contact .contact h3 {
          font-size: 24px;
          font-weight: 700; }
        main section#contact .top-contact .contact p {
          font-size: 18px;
          padding: 5px 0; }
  main section#form-contact {
    margin-top: 50px; }
    main section#form-contact .form-title h1 {
      font-size: 36px;
      font-weight: 700;
      text-align: center; }
    main section#form-contact form {
      margin-top: 20px; }
      main section#form-contact form input, main section#form-contact form textarea {
        display: block;
        background-color: #333;
        color: #fefefe;
        font-style: italic;
        padding: 25px;
        margin-top: 33px;
        width: 100%;
        border: none;
        text-rendering: none;
        transition: all .5s ease; }
        main section#form-contact form input:focus, main section#form-contact form textarea:focus {
          box-shadow: 1px 1px 15px 0 #fefbce; }
      main section#form-contact form textarea {
        height: 250px; }
    main section#form-contact .button-social {
      margin-top: 20px; }
      main section#form-contact .button-social .hm-col-4 {
        width: 100%; }
      main section#form-contact .button-social .list-button .button > * {
        height: 46px;
        width: 100%;
        color: #fff;
        font-style: italic;
        font-size: 18px;
        border: none;
        cursor: pointer; }
      main section#form-contact .button-social .list-button .button .submit {
        position: relative;
        background-color: #1369bf;
        border-bottom: 5px solid #0c3762; }
        main section#form-contact .button-social .list-button .button .submit::after {
          content: " ";
          position: absolute;
          height: 5px;
          bottom: -5px;
          left: 0;
          right: 100%;
          background-color: #03111f;
          transition: all .5s ease; }
        main section#form-contact .button-social .list-button .button .submit:hover::after {
          right: 0; }
      main section#form-contact .button-social .list-button .button .reset {
        color: #000; }
      main section#form-contact .button-social .hm-col-8 {
        width: 100%; }
      main section#form-contact .button-social .socials {
        margin-top: 20px; }
        main section#form-contact .button-social .socials .list-socials {
          text-align: center; }
          main section#form-contact .button-social .socials .list-socials li {
            display: inline-block;
            float: none;
            margin-left: 15px; }
            main section#form-contact .button-social .socials .list-socials li a {
              width: 45px;
              height: 45px;
              color: #fefbce;
              border: 5px solid #fefbce;
              border-radius: 50%;
              position: relative; }
              main section#form-contact .button-social .socials .list-socials li a i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); } }
@media only screen and (max-width: 700px) {
  footer .hm-container-fluid .hm-container .hm-row .hm-col-8 {
    width: 100%; }
    footer .hm-container-fluid .hm-container .hm-row .hm-col-8 .hm-column-3 .item {
      width: 100%;
      text-align: center; }
  footer .hm-container-fluid .hm-container .hm-row .hm-col-4 {
    width: 100%; }

  .list-payments .hm-col-1 {
    width: 41%; }
  .list-payments .hm-col-3 {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 30px; } }
@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px; }

  .logo-nav {
    padding: 5px 0; } }
@media only screen and (max-width: 930px) {
  html {
    font-size: 10px; }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999999; }
    nav .hm-container-fluid {
      background-image: linear-gradient(to top, #000, #292929); }
      nav .hm-container-fluid .hm-col-fluid-4 {
        width: 12.5%; }
      nav .hm-container-fluid .hm-col-fluid-12 {
        width: 87.5%; }
      nav .hm-container-fluid .menu > li {
        display: inline-block;
        position: relative; }
        nav .hm-container-fluid .menu > li > a {
          padding: 1.3rem 1rem;
          text-transform: uppercase;
          color: #fff;
          font-size: 1rem;
          font-weight: 700; }
        nav .hm-container-fluid .menu > li::before {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-image: linear-gradient(to top, #3a3b3b, #151414);
          opacity: 0;
          transition: all .3s ease;
          pointer-events: none; }
        nav .hm-container-fluid .menu > li:hover::before {
          opacity: .5; }
        nav .hm-container-fluid .menu > li:hover .sub-menu {
          opacity: 1;
          top: 100%;
          z-index: 9999;
          transition: all .3s ease;
          pointer-events: all; }
        nav .hm-container-fluid .menu > li .sub-menu {
          pointer-events: none;
          background-image: linear-gradient(to top, #000, #292929);
          position: absolute;
          top: 110%;
          left: 0;
          background-color: #fff;
          opacity: 0;
          text-align-last: left; }
          nav .hm-container-fluid .menu > li .sub-menu li {
            width: 20rem; }
            nav .hm-container-fluid .menu > li .sub-menu li a {
              font-size: 1rem;
              color: #fff;
              font-weight: 700;
              padding: 1rem;
              text-transform: capitalize; }
              nav .hm-container-fluid .menu > li .sub-menu li a:hover {
                color: #aaa; } }
@media only screen and (max-width: 720px) {
  .hm-column-4 .item {
    width: 50%; }
    .hm-column-4 .item:not(:nth-child(-n + 2)) {
      margin-top: 30px; }

  html {
    font-size: 14px; }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999; }
    nav::before {
      position: absolute;
      content: " ";
      width: 10px;
      height: 2px;
      color: #fff;
      box-shadow: 0 15px 0 #fff, 0 5px 0 #fff, 0 10px 0 #fff;
      z-index: 99999999999999999999;
      top: 30%;
      right: 5%;
      transform: translate(0, -50%); }
    nav .hm-container-fluid {
      background-image: linear-gradient(to top, #000, #292929); }
      nav .hm-container-fluid .hm-row {
        text-align: center; }
      nav .hm-container-fluid .hm-col-fluid-4 {
        width: 25%;
        text-align: center; }
      nav .hm-container-fluid .hm-col-fluid-12 {
        text-align: right; }
      nav .hm-container-fluid .menu {
        position: absolute;
        top: 100%;
        right: 0;
        transition: all .3s ease;
        right: -100%; }
        nav .hm-container-fluid .menu.active {
          right: 0; }
        nav .hm-container-fluid .menu > li {
          display: block;
          position: relative; }
          nav .hm-container-fluid .menu > li > a {
            padding: 1.3rem 1rem;
            text-transform: uppercase;
            color: #fff;
            font-size: 1rem;
            font-weight: 700; }
          nav .hm-container-fluid .menu > li::before {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(to top, #3a3b3b, #151414);
            opacity: 0;
            transition: all .3s ease;
            pointer-events: none; }
          nav .hm-container-fluid .menu > li:hover::before {
            opacity: .5; }
          nav .hm-container-fluid .menu > li:hover .sub-menu {
            opacity: 1;
            top: 100%;
            z-index: 9999;
            transition: all .3s ease;
            pointer-events: all; }
          nav .hm-container-fluid .menu > li .sub-menu {
            pointer-events: none;
            background-image: linear-gradient(to top, #000, #292929);
            position: absolute;
            top: 110%;
            left: 0;
            background-color: #fff;
            opacity: 0;
            text-align-last: left; }
            nav .hm-container-fluid .menu > li .sub-menu li {
              width: 20rem; }
              nav .hm-container-fluid .menu > li .sub-menu li a {
                font-size: 1rem;
                color: #fff;
                font-weight: 700;
                padding: 1rem;
                text-transform: capitalize; }
                nav .hm-container-fluid .menu > li .sub-menu li a:hover {
                  color: #aaa; }

  main .banner-1 {
    background-color: #0066cc;
    margin-top: 150px;
    position: relative;
    padding: 10px 0; }
    main .banner-1 .hm-col-5 {
      width: 100%; }
    main .banner-1 h2 {
      font-size: 2rem;
      font-weight: 1100;
      padding-left: 17px; }
    main .banner-1 p {
      font-size: 1rem;
      font-weight: 300;
      margin-top: 15px; }
      main .banner-1 p::first-letter {
        padding-left: 17px; }
    main .banner-1 .hardware-banner {
      position: relative;
      z-index: 0;
      margin: 0 auto; } }
@media only screen and (max-width: 600px) {
  main .wrapper.wrapper-vps .vps .vps-info::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00ccff;
    top: 0;
    left: 15px;
    transform: translate(0, -50%); }

  main .wrapper.wrapper-vps .vps .vps-info::after {
    top: -7px;
    left: 20px;
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 7px 0 #fff, 0 14px 0 #fff; }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999; }
    nav::before {
      position: absolute;
      content: " ";
      width: 10px;
      height: 2px;
      color: #fff;
      box-shadow: 0 15px 0 #fff, 0 5px 0 #fff, 0 10px 0 #fff;
      z-index: 99999999999999999999;
      top: 10%;
      right: 5%;
      transform: translate(0, -50%); } }
@media only screen and (max-width: 450px) {
  html {
    font-size: 10px; } }

/*# sourceMappingURL=responsive.css.map */
