@media only screen and (max-width:1200px){
    header{
        .hm-container-fluid{
            
            .slide{
                .title{
                    font-size: 80px;
                }
                .buy{
                    font-size: 16px;
                    padding: 10px 20px;
                }
            }
        }
    }
    main{
        .banner-1 .hardware-banner{
            top: 0;
        }
    }
}

@media only screen and (max-width: 1000px){
    main .wrapper.wrapper-hosting .list-price .price:hover .hardware-info p{
        font-size: 16px;
        padding: 10px 0;
    }
    main .wrapper.wrapper-hosting .list-price .price .total-price{
        font-size: 24px;
    }
    main .hm-container .hm-row .hm-col-12 .wrapper.wrapper-product .list-product .item{
        width: 50%;
    }
    main .hm-container .hm-row .hm-col-12 .wrapper.wrapper-product .list-product .item:not(:nth-child(-n +2)){
        margin-top: 20px;
    }
    header{
        .hm-container-fluid{
            .slide{
                .title{
                    font-size: 60px;
                    &.active{
                        left: 20%;
                    }
                }
                .buy{
                    font-size: 16px;
                    padding: 10px 20px;
                }
            }
        }
    }
}
@media only screen and (max-width: 850px){
    main .banner-1 .hardware-banner{
        top: 20%;
        width: 50%;
    }
    .hm-column-4 .item{
        width: 50%;
    }
    .hm-column-4 .item:not(:nth-child(-n + 2)) {
        margin-top: 30px; }
    footer .hm-container-fluid .hm-container .hm-row {
        .hm-col-8{
            width: 100%;
        }
        .hm-col-4{
            width: 100%;
            // text-align: center;
        }
    }
    header{
        .hm-container-fluid{
            .slide{
                .title{
                    font-size: 60px;
                    &.active{
                        left: 20%;
                    }
                }
                .buy{
                    font-size: 16px;
                    padding: 10px 20px;
                }
            }
        }
    }
    /*contact*/
    main{
        section{
            &#contact{
                margin-top: 50px;
                .title{
                    .contact-title{
                        h1{
                           font-size: 36px;
                           font-weight: 700;
                           text-align: center; 
                        }
                    }
                }
                .top-contact{
                    margin-top: 20px;
                    .item + .item{
                        margin-top: 20px;
                    }
                    .hm-column-3 .item{
                        width: 100%;
                    }
                    .contact{
                        text-align: center;
                        .icon{
                            font-size: 48px;
                            color: #1369bf;
                        }
                        h3{
                            font-size: 24px;
                            font-weight: 700;
                        }
                        p{
                            font-size: 18px;
                            padding: 5px 0;
                        }
                    }
                }
            }
            &#form-contact{
                margin-top: 50px;
                .form-title{
                    h1{
                        font-size: 36px;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                form{
                    margin-top: 20px;
                    input,textarea{
                        display: block;
                        background-color: #333;
                        color: #fefefe;
                        font-style: italic;
                        padding: 25px;
                        margin-top: 33px;
                        width: 100%;
                        border: none;
                        text-rendering:none;
                        transition: all .5s ease;
                        &:focus{
                            box-shadow: 1px 1px 15px 0 #fefbce;
                        }
                    }
                    textarea{
                        height: 250px;
                    }
                }
                .button-social{
                    margin-top: 20px;
                    .hm-col-4{
                        width: 100%;
                    }
                    .list-button{
                        .button{
                            > *{
                                height: 46px;
                                width: 100%;
                                color: #fff;
                                font-style: italic;
                                font-size: 18px;
                                border: none;
                                cursor: pointer;
                            }
                            .submit{
                                position: relative;
                                background-color: #1369bf;
                                border-bottom: 5px solid #0c3762;
                                // overflow: hidden;
                                &::after{
                                    content: " ";
                                    position: absolute;
                                    height: 5px;
                                    bottom: -5px;
                                    left: 0;
                                    right: 100%;
                                    background-color: #03111f;
                                    transition: all .5s ease;
                                }   
                                &:hover::after{
                                    right: 0;
                                }
                            }
                            .reset{
                                color: #000;
                            }
                        }
                    }
                    .hm-col-8{
                        width: 100%;
                    }
                    .socials{
                        margin-top: 20px;
                        .list-socials{
                            text-align: center;
                            li{
                                display: inline-block;
                                float: none;
                                margin-left: 15px;
                                a{
                                    width: 45px;
                                    height: 45px;
                                    color: #fefbce;
                                    border: 5px solid #fefbce;
                                    border-radius: 50%;
                                    position: relative;
                                    i{
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 700px){
    main{
        .banner-1{
            .hm-col-5{
                width: 100%;
                h2{
                    font-size: 36px;
                    padding-top: 40px;
                }
            }
            .hardware-banner{
                width: 50%;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .hm-column-2 .item{
        width: 100%;
    }
    .hm-column-2 .item:not(:nth-child(-n + 1)){
        margin-top: 20px;
    }
    .hm-column-4 .item{
        width: 100% !important;
    }
    .hm-column-4 .item:not(:nth-child(-n + 1)){
        margin-top: 20px;
    }
    main .wrapper.wrapper-hosting .list-price .price .hardware-info p{
        padding: 20px 0;
    }
    footer .hm-container-fluid .hm-container .hm-row {
        .hm-col-8{
            width: 100%;
            .hm-column-3{
                .item{
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .hm-col-4{
            width: 100%;
            // text-align: center;
        }
    }
    .list-payments{
        .hm-col-1{
            width: 41%;
        }
        .hm-col-3{
            width: 50%;
            display: block;
            margin: 0 auto;
            margin-top: 30px;            
        }
    }
    .wrapper{
        margin-top: 50px;
        .product-title{
            h1{
                font-size: 36px;
                text-align: center;
                color: #0066cc;
            }
        }
        .list-product{
            margin-top: 40px;
            .product{
                background-color: #006699;
                border-radius: 20px;
                padding: 25px 35px 50px 35px;
                height: fit-content !important;
                .icon-product{
                    width: 20% !important;
                    margin: 0 auto;
                }
                .title{
                    margin-top: 10px;
                    h3{
                        font-size: 24px;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                .des{
                    margin-top: 18px;
                    font-weight: 14px;
                    color: #fff;
                    text-align: justify;
                    height: 100px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 2px;
                        pointer-events: all;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: transparent;
                        border-radius: 10px;
                        width: 2px;
                        transition: all .3s ease;
                    }
                    &:hover::-webkit-scrollbar-thumb {
                        background-color: #1f1f1f;
                        transition: all .3s ease;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:600px){
    header{
        .hm-container-fluid{
            
            .slide{
                .title{
                    font-size: 30px;
                    &.active{
                        left:20%;
                    }
                }
                .buy{
                    font-size: 12px;
                    padding: 5px 10px;
                }
            }
        }
    }
}